@import "shared/styles/media-queries.scss";
@import "shared/styles/colors.scss";

// Global Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  @include respond(tablet-l) {
    font-size: 56.25%;
  }
  @include respond(tablet-s) {
    font-size: 50%;
  }
  @include respond(mobile-l) {
    font-size: 48%;
  }
  @include respond(mobile-m) {
    font-size: 38%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  color: var(--color-primary);
  background-color: var(--color-white);
}

main {
  height: 100vh;
}
