$primary-color: #002333;
$secondary-color: #40D5A1;
$white: #f4f4f4;

.search {
  margin-top: 6rem;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    & > * {
      margin-right: 3rem;
    }
  }
  &__radio-list {
    list-style: none;
  }
  &__radio {
    margin-right: 1rem;
  }
  &__input {
    width: 13%;
    height: 3rem;
    padding: 1rem 0.6rem;
  }
  &__submit {
    padding: 0.7rem 2.4rem;
    background-color: $primary-color;
    font-weight: 500;;
    color: $white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border-radius: .4rem;
  
  }


  &__catagory{
    &-text{
      cursor: pointer;
    }
  }
}
