$primary-color: #002333;
$secondary-color: #40D5A1;
$white: #f4f4f4;
@import "App.scss";

.page-header {
  min-height: 20vh;
  padding-top: 7rem;
  background-color: $primary-color;
}

.nav {
  color: #fefefe;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 1.6rem;

  @include respond(tablet-l) {
    display: none;
  }
  &__list {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
  }
  &__item {
    color: #fefefe;
    margin-right: 4rem;
    & > * {
      text-decoration: none;
      &:visited,
      &:link,
      &:focus {
        color: #fefefe;
      }
    }
  }
}
