// MEDIA QUERY MANAGER
/*
$breakpoint arguement choices:
- mobile-s
- mobile-m
- mobile-l
- tablet
- laptop-m
- laptop-l 
- desktop
- desktop-l
@DESC 1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == mobile-s {
    @media only screen and (max-width: 21em) {
      @content;
    }
  } // 336px

  @if $breakpoint == mobile-m {
    @media only screen and (max-width: 23.56em) {
      @content;
    }
  } // 377px

  @if $breakpoint == mobile-l {
    @media only screen and (max-width: 31.57em) {
      @content;
    }
  } // 505px

  @if $breakpoint == tablet-s {
    @media only screen and (max-width: 45em) {
      @content;
    } //720px
  }
  @if $breakpoint == tablet-m {
    @media only screen and (max-width: 55.625em) {
      @content;
    } //890px
  }
  @if $breakpoint == tablet-l {
    @media only screen and (max-width: 57.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: 64em) {
      @content;
    }
  } // 1024px

  @if $breakpoint == laptop-m {
    @media only screen and (max-width: 89em) {
      @content;
    }
  } // 1400px

  @if $breakpoint == laptop-l {
    @media only screen and (max-width: 105em) {
      @content;
    }
  } // 1680px

  @if $breakpoint == desktop-l {
    @media only screen and (min-width: 120em) {
      @content;
    }
  } // 1920px
}


// ================ ============== Global Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  @include respond(tablet-l) {
    font-size: 56.25%;
  }
  @include respond(tablet-s) {
    font-size: 50%;
  }
  @include respond(mobile-l) {
    font-size: 48%;
  }
  @include respond(mobile-m) {
    font-size: 38%;
  }
}
body {
  box-sizing: border-box;
  font-size: 1.8rem;
  background-color: #f4f4f4;
  color: #002333;
}
