.create-course-page {
  min-height: 90vh;
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.create-course {
  padding-top: 9rem;
  margin-bottom: 2rem;
  width: 80%;

  &__heading {
    text-align: center;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    border-bottom: 0.3rem solid #3722d3;
  }

  &__radio {
    margin-right: 1rem;
  }
  &__form-container {
    min-height: 40vh;
    margin: 2rem auto;
    text-align: center;
    border-radius: 0.4rem;
  }
  .create-course-form {
    padding: 3rem;
    display: inline-block;
    text-align: left;

    & > * {
      display: block;
      margin-top: 1rem;
    }
    &__label {
      font-size: 1.8rem;
      font-weight: 500;
      color: rgb(66, 66, 66);
    }
    &__input {
      height: 3.7rem;
      width: 44rem;
      border: 1px solid rgba(128, 128, 128, 0.212);
      border-radius: 0.2rem;
      padding: 1rem 0.5rem;
      background-color: #e8f0fe5b;
      &:focus {
        border: 1px solid #3722d3;
      }
    }

    &__message {
      border-radius: 0.2rem;
      padding: 1rem 0.5rem;
      resize: none;
      background-color: #e8f0fe5b;
      border: 1px solid rgba(128, 128, 128, 0.212);
      width: 44rem;

      &:focus {
        border: 1px solid #3722d3;
      }
    }
    &__submit {
      font-size: 1.8rem;
      margin-top: 3rem;
      width: 24rem;

      padding: 0.7rem 2.4rem;
      background-color: #00ff84;
      font-weight: 500;
      color: #002333;
      border: none;
      cursor: pointer;
      border-radius: 0.2rem;
    }
  }
  &__syllable-options {
    list-style: none;
    display: flex !important ;
    flex-direction: row;
    justify-content: space-between;
    color:#3722d3;
    width: 100%;
    padding: .3rem;
    & > * {
      flex-basis: 40%;
      cursor: pointer;
    }
  }
}
