@import "./App.scss";

.features {
  min-height: 90vh;
  padding: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &__heading {
    text-align: center;
    margin-bottom: 9rem;
    border-bottom: 0.6rem solid #6C63FF;
    padding-bottom: 2rem;
    letter-spacing: 0.2rem;
  }
  &__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
    & > * {
      flex-basis: 30%;
      padding: 2rem;
      box-shadow: 0 1.2rem 2rem 0.2rem rgba(63, 63, 63, 0.2);
    }

    @include respond(laptop) {
      flex-direction: column;
      min-height: 120vh;
      width: 80%;
    }
    @include respond(laptop) {
      flex-direction: column;
      min-height: 100vh;
      width: 80%;
    }
  }
  &__icon {
    color: #002333;
    text-align: center;
    display: block;
    & > * {
      font-size: 6rem;
    }
  }

  &__description {
    text-align: center;
    margin-top: 1.4rem;
    font-size: 1.6rem;
    display: inline-block;
    width: 90%;
    padding: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  &__secondary-heading {
    text-align: center;
    margin-top: 2rem;
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
