@import "./App.scss";

.visitor-tutor-section {
  padding-top: 9rem;
  margin-bottom: 2rem;
  min-height: 90vh;
  color: #002333;
}

.visitor-tutor {
  width: 60%;
  margin: 3rem auto;
  text-align: center;

  &__img {
    width: 20rem;
    height: 20rem;
    border-radius: 50rem;
    @include respond(laptop) {
      width: 20rem;
      height: 20rem;
      border-radius: 50rem;
      line-height: 50rem;
    }
  }
  &__name {
    display: block;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
  }
  &__description {
    width: 90%;
    display: block;
    margin: 3.5rem auto;
    padding: 2rem;
  }

  &__courses-heading {
    margin-bottom: 6rem;
  }
}
